mixin navigation()
    .navigation
        +nav('navigation', {
            'Мои работы': './portfolio.html',
            'Обо мне': './about.html',
            'Блог': './blog.html',
            'Авторизация': './'
        })