extends ../_template

block content
  section.section.welcome
    .bgparallax
    .welcome__inner.section__wrapper
      button.welcome__login.active Авторизоваться
      .card__wrapper.active
        .card
          .card__welcome
            .card__content
              +user('welcome')
              +ul('social', 'welcome', {
                  vk: 'https://vk.com/dmmar',
                  github: 'https://github.com/dmitrymarokhonov/',
                  in: 'https://www.linkedin.com/in/dmitry-marokhonov-00b912103/'
              })
            +nav('nav-welcome', {
                'Мои работы': './portfolio.html',
                'Обо мне': './about.html',
                'Блог': './blog.html'
            })
          form.card__login#authorization(method='POST')
            .card__content
              +blockTitle('Авторизуйтесь', 'authorization')
              .login-form
                .login-form__item
                  label.login-form__label
                    input.login-form__input(name='login', type='text', placeholder='Логин', required)
                .login-form__item
                  label.login-form__label
                    input.login-form__input(name='password', type='password', placeholder='Пароль', required)
              +checkbox('noRobot', 'Я человек', 'checkbox')
              p.card__content-text Вы точно не робот?
              .card__content-radio
                +checkbox('radio', 'Да', 'radio', '1')
                +checkbox('radio', 'Не уверен', 'radio', '0')
            .nav-welcome
              ul.nav-welcome__list
                li.nav-welcome__item
                  a.nav-welcome__link На главную
                li.nav-welcome__item
                  input.nav-welcome__link(type='submit', value='Войти')
      footer.welcome__footer
        p © Дмитрий Марохонов | LoftSchool | 2017