extends ../_template

block content
    .wrapper
        +hero()
        +hamburger()
        +navigation()
        section.section.sec-works
            +leftTriangle('works')
            +rightTriangle('works')
            +sectionTitle('works_header', 'Мои работы', 'works')
            .sec-works__content
                .sec-works__col_left
                    .sec-works__wrapper.sec-works__wrapper--left
                        .slider__image-wrapper
                            img.slider__image(src='assets/images/img-1.png', alt='img-1.png')
                        .work
                            +blockTitle('Сайт школы онлайн образования')
                            p.work__tehnologes HTML, CSS, JAVASCRIPT
                            a.work__link(href='https://vk.com/dmmar', target="_blank")
                                span.work__link-text Посмотреть сайт
                                    svg.work__link-icon
                                        use(xlink:href="assets/images/sprite.svg#icons--link")
                .sec-works__col_right
                    .sec-works__wrapper.sec-works__wrapper--right
                        .slider-list
                            a.slider-list__link.js-slider-bth--left
                                ul.slider-list__list.js-slider-list
                                    li.slider-list__item.active
                                        img.slider-list__image(src='assets/images/img-2.jpg', alt='img-2')
                                .slider-arrow
                                    svg.slider-arrow__img
                                        use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
                            a.slider-list__link.js-slider-bth--right(href='#')
                                ul.slider-list__list.js-slider-list
                                    li.slider-list__item.active
                                        img.slider-list__image(src='assets/images/img-3.jpg', alt='img-3')
                                .slider-arrow.slider-arrow--top
                                    svg.slider-arrow__img
                                        use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
        section.section.reviews
            .reviews__background
                img(src='assets/images/bg-footer.png')
            +sectionTitle('about_header', 'Что обо мне говорят', 'reviews')
            ul.reviews-list
                li.reviews-item
                    i.reviews-item__icon
                    p.reviews-item__text
                        |Этот парельно проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых
                        |тяжелых испытаний и бессонных ночей!
                    .reviews-hero
                        img.reviews-hero__img(src='assets/images/dmitriy.jpg', alt='review-hero', title='review-hero')
                        .reviews-hero__content
                            p.reviews-hero__name Ковальчук Дмитрий
                            p основатель Loftschool
                li.reviews-item
                    i.reviews-item__icon
                    p.reviews-item__text
                        |Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых
                        |браузерах!
                    .reviews-hero
                        img.reviews-hero__img(src='assets/images/vladimir.jpg', alt='review-hero', title='review-hero')
                        .reviews-hero__content
                            p.reviews-hero__name Сабанцев Владимир
                            p преподаватель
            form.feedback__wrapper#feedbackForm(method="POST")
                .feedback__bg
                .feedback
                    .feedback__inner
                        +blockTitle('Связаться со мной', 'feedback')
                        .feedback-form
                            .feedback-form__item
                                label.feedback-form__label
                                    input.feedback-form__input(name='name')
                            .feedback-form__item
                                label.feedback-form__label
                                    input.feedback-form__input(name='email')
                            .feedback-form__item
                                label.feedback-form__label
                                    textarea.feedback-form__textarea(name='text')
                    .feedback-buttons
                        input.feedback-button.feedback-button--send(type='submit', value='Отправить')
                        input.feedback-button.feedback-button--clear(type='reset', value='Очистить')
            +arrow('feedback')
        +footer('portfolio')